*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(12, 96, 60);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding:  40px 30px 70px;
    border-radius: 10px;
}

input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 15px;
}
select{
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    font-weight: 15px;
}
table{
    width: 100%;
    margin-top: 20px;
    font-weight: 15px;
}

.button{
    border: none;
    outline: none;
    
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

